<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <button class="pull-right" type="button" md-icon-button (click)="drawer.toggle()">
        <md-icon>compare_arrows</md-icon>
      </button>
    </div>
  </div>

  <md-drawer-container class="example-container" autosize>
    <md-drawer #drawer class="example-sidenav" mode="side" position="end" opened="true">
      <div class="container-fluid">
        <div class="row m-t-10">
          <div class="col-xs-12 box">
            <md-select class="input-full-width" placeholder="{{currentLanguageSet?.specialization}}" [(ngModel)]="selectedSpecialization">
              <md-option *ngFor="let specialization of specializationMaster" [value]="specialization.specializationID">
                {{specialization.specialization}}
              </md-option>
            </md-select>
          </div>

          <div class="col-xs-12 box">
            <md2-datepicker class="input-full-width" [openOnFocus]="true" name='viewDate' [(ngModel)]="viewDate"></md2-datepicker>
          </div>

          <div class="col-xs-12 box m-t-20">
            <button class="input-full-width" md-raised-button color="primary" [disabled]="!(selectedSpecialization && viewDate)" (click)="getTimesheetBySpecialization()">
              {{currentLanguageSet?.submit}}
            </button>
          </div>
        </div>
      </div>
    </md-drawer>

    <div class="example-sidenav-content">
      <div class="container-fluid">
        <div class="scrolling outer">
          <div class="inner">
            <table class="table" *ngIf="eventWithResource.length > 0">
              <caption></caption> <!-- Table discription SonarQube bug fix -->
              <thead>
                <tr>
                  <th id="specialist">{{currentLanguageSet?.specialist}}</th>
                  <td>
                    <div class="slot-container">
                      <div class="slot" *ngFor="let slot of daySlots">
                        {{ slot }}
                      </div>
                    </div>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let resource of eventWithResource">
                  <th id="titlecase">{{ ((resource?.firstName || " ") + ' ' + (resource?.lastName || "")) | titlecase }} &nbsp;</th>
                  <td>
                    <div class="slot-container">
                      <div class="slot" *ngFor="let slot of daySlots;let index=index">
                        <ng-container *ngFor="let event of resource?.specialistAvailability?.slots">
                          <div class="event" *ngIf="index == event.index" [ngStyle]="{'left.px': 2 * event.left, 'width.px': 2 * event.width, 'background': event.slot.charAt(0) == 'U'? 'gray': event.slot.charAt(0) == 'A' ? 'blue': 'red' }">{{ event.slot.charAt(0) }}</div>
                        </ng-container>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </md-drawer-container>
</div>