<div class="container-fluid">
  <div class="col-xs-12 m-t-5 m-b-5">
    <button class="pull-left" type="button" md-icon-button (click)="drawer.toggle()">
      <md-icon> compare_arrows </md-icon>
    </button>
    <button class="pull-right" type="button" md-raised-button color="primary" (click)="backToStaffPage()">
      {{currentLanguageSet?.back}}
    </button>
  </div>
  <md-drawer-container class="example-container m-t-10" autosize>
    <md-drawer #drawer class="example-sidenav" mode="side" opened="true">
      <div class="container-fluid">
        <div class="row m-t-10">
          <img class="center" src="assets/images/Avatar-Profile_50X50.png" alt="Avatar Profile">
          <div class="col-xs-12 box m-t-20 textAlign">
            <h4><strong>{{specialistData?.titleName+ specialistData?.firstName + " " + specialistData?.lastName}}</strong></h4>
            <h5><strong>{{specialistData?.specialization}}</strong></h5>
            <h5>{{specialistData?.emailID}}</h5>
            <h5>{{specialistData?.contactNumber}}</h5>
            <h5>{{specialistData?.gender}}</h5>
          </div>
        </div>
      </div>
    </md-drawer>
    <div class="example-sidenav-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
              <md-tab-group (focusChange)="tabChanged($event)">
                <md-tab label="Timesheet">
                    <app-timesheet [getChangedTab]='getChangedTab' ></app-timesheet>
                </md-tab>
                <md-tab label="Appointment View">
                  <app-appointment-view></app-appointment-view>

                  </md-tab>
              </md-tab-group>
          </div>
        </div>
      </div>
    </div>
  </md-drawer-container>
</div>