<div class="container-fluid">
  <div class="row m-t-10 m-b-40">
    <div class="col-xs-12 col-sm-7 calender">
      <md-card >
        <ng-fullcalendar *ngIf="calendarOptions" #ucCalendar [options]="calendarOptions" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
      </md-card>
    </div>

    <div class="col-xs-12 col-sm-5 availability-form" *ngIf="designation == 'Supervisor'">
      <md-card>
        <div class="row">
          <div class="col-xs-12 box">
            <md-select class="input-full-width" placeholder=
            "{{currentLanguageSet?.specialization}}" [(ngModel)]="selectedSpecialization"
              (change)="getSpecialist()">
              <md-option *ngFor="let specialization of specializationMaster" [value]="specialization">
                {{specialization.specialization}}
              </md-option>
            </md-select>
          </div>
          <div class="col-xs-12 box">
            <md-select class="input-full-width" placeholder="{{currentLanguageSet?.specialist}}" [(ngModel)]="selectedSpecialist" (change)="getMonthEvents()">
              <md-option *ngFor="let specialist of specialistList" [value]="specialist">
                {{ specialist.firstName + ' ' + (specialist.middleName || '') + ' ' + specialist.lastName }}
              </md-option>
            </md-select>
          </div>
        </div>
      </md-card>
    </div>

    <div *ngIf="selectedSpecialist" class="col-xs-12 col-sm-5 availability-form">
      <md-card>
        <form [formGroup]="availabiltyForm">
          <div class="row">
            <div class="col-xs-12 m-t-10">
              <md-radio-group class="radio-list" formControlName="isAvailability" name="isAvailability" (change)="resetFormValue()"
                required>
                <md-radio-button color="primary" value="true">{{currentLanguageSet?.available}}</md-radio-button>
                <md-radio-button color="primary" value="false">{{currentLanguageSet?.notAvailable}}</md-radio-button>
              </md-radio-group>
            </div>
            <div class="col-xs-12 m-t-10 box">
              <md2-datepicker class="input-full-width" [openOnFocus]="true" placeholder="{{currentLanguageSet?.fromDate}}" formControlName="configuredFromDate"
                name="configuredFromDate" [min]="minSelectableDate" [max]="maxSelectableDate" required></md2-datepicker>
            </div>
            <div class="col-xs-12 box" [hidden]="isAvailability == 'false'">
              <md2-datepicker class="input-full-width" [openOnFocus]="true" placeholder="{{currentLanguageSet?.toDate}}" formControlName="configuredToDate"
                name="configuredToDate" [min]="configuredFromDate" [max]="maxSelectableDate" [required]='configuredToDateBoolean'></md2-datepicker>
            </div>
            <div class="col-xs-12 box">
              <md2-datepicker type="time" [timeInterval]="5" class="input-full-width" [openOnFocus]="true" placeholder="{{currentLanguageSet?.fromTime}}"
                formControlName="configuredFromTime" name="configuredFromTime" required></md2-datepicker>
            </div>
            <div class="col-xs-12 box">
              <md2-datepicker type="time" [timeInterval]="5" class="input-full-width" [openOnFocus]="true" placeholder="{{currentLanguageSet?.toTime}}"
                formControlName="configuredToTime" name="configuredToTime" [min]="configuredFromDate?.getTime() == configuredToDate?.getTime() ? configuredFromTime : null"
                required></md2-datepicker>
            </div>
            <div class="col-xs-12 day-list" *ngIf="isAvailability != 'false'">
              <button type="button" md-mini-fab [color]="day.isSelected ? 'warn':'primary'" (click)="day.isSelected = !(day.isSelected);"
                *ngFor="let day of dayList; let i= index">{{ day.name }}</button>
            </div>
          </div>
          <div class="row m-t-30">
            <div class="col-xs-12">
              <button type="button" md-raised-button color="accent" class="input-full-width" [disabled]="availabiltyForm.pristine || (availabiltyForm.dirty && availabiltyForm.invalid)"
                (click)="submitAvailabilityForm(availabiltyForm)">{{currentLanguageSet?.submit}}</button>
            </div>
          </div>
        </form>
      </md-card>
    </div>
  </div>
</div>