<div class="row title">
  <h4> {{currentLanguageSet?.versionDetails}} </h4>
  <button class="pull-right exit" [mdDialogClose]="true" md-icon-button>
    <md-icon class="md-24">{{currentLanguageSet?.close}}</md-icon>
  </button>
</div>
<div class="container-fluid">
  <md-dialog-content>
    <div class="table-responsive">
      <table class="table table-striped">
        <caption></caption> <!-- Table discription SonarQube bug fix -->
        <thead>
          <tr>
            <th id=""></th>
            <th id="API"> {{currentLanguageSet?.aPI}} </th>
            <th id="UI"> {{currentLanguageSet?.uI}} </th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-hover">
            <th id="Version">{{currentLanguageSet?.version}}</th>
            <td> {{input.commitDetailsAPI.version}}</td>
            <td>{{input.commitDetailsUI.version}} </td>
          </tr>
          <tr class="table-hover">
            <th id="Commit">{{currentLanguageSet?.commit}}</th>
            <td> {{input.commitDetailsAPI.commit}}</td>
            <td>{{input.commitDetailsUI.commit}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </md-dialog-content>
</div>