<div class="container-fluid">
  <div class="row m-t-10">
    <div class="col-xs-12">
      <div class="col-xs-4 box">
        <md2-datepicker class="input-full-width" [openOnFocus]="true" placeholder="{{currentLanguageSet?.appointmentDate}}" name='viewDate' [(ngModel)]="viewDate" (change)= "getAllAppointment()"></md2-datepicker>
      </div>
      <div class="col-xs-4 sw">
        <input type="search" class="search" autocomplete="off" placeholder="{{currentLanguageSet?.inTableSearch}}" name="filterTerm"
          [(ngModel)]="filterTerm" (keyup)="filterBeneficiaryList(filterTerm)" />
        <button class="go" (click)="filterBeneficiaryList(filterTerm)">
          <span class="material-icons">search</span>
        </button>
      </div>
        <div class="col-xs-4">
              <button md-raised-button class="pull-right btn-green" color="primary" id='refresh' (click)="getAllAppointment()"> {{currentLanguageSet?.refresh}} </button>
          </div>
      
    </div>

  </div>

  <md-drawer-container class="example-container m-t-10" autosize>


    <div class="example-sidenav-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <section class="table-responsive">
              <table class="table table-striped ">
                <caption></caption> <!-- Table discription SonarQube bug fix -->
                <thead>
                  <tr>
                    <th id="sNo">{{currentLanguageSet?.sNo}}</th>
                    <th id="beneficiaryID">{{currentLanguageSet?.beneficiaryID}}</th>
                    <th id="beneficiaryName">{{currentLanguageSet?.beneficiaryName}}</th>
                    <th id="gender">{{currentLanguageSet?.gender}}</th>
                    <th id="age">{{currentLanguageSet?.age}}</th>
                    <th id="visitCategory">{{currentLanguageSet?.visitCategoryVisitNo}}</th>
                    <th id="visitDate">{{currentLanguageSet?.visitDate}}</th>
                    <th id="tCDate">{{currentLanguageSet?.tCDate}}</th>
                    <th id="image">{{currentLanguageSet?.image}}</th>
                    <th id="action" style="text-align: center;">{{currentLanguageSet?.action}}</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-template [ngIf]="filteredBeneficiaryList && filteredBeneficiaryList.length == 0">
                    <tr *ngFor="let row of blankTable">
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                    </tr>
                  </ng-template>
                  <tr *ngFor="let beneficiary of pagedList; let m=index" class="table-hover">
                    <td>{{filteredBeneficiaryList.indexOf(beneficiary)+1}}</td>
                    <td>{{beneficiary?.beneficiaryID}}</td>
                    <td>{{beneficiary?.benName | titlecase}}</td>
                    <td>{{beneficiary.genderName | titlecase}}</td>
                    <td>{{beneficiary.age}}</td>
                    <td>
                      <span style="color:#a6a6a6">{{beneficiary.VisitCategory}} </span> /
                      <span style="color:#a6a6a6">{{beneficiary.benVisitNo}}</span>
                    </td>
                    <td>{{beneficiary.benVisitDate}}</td>
                    <td>{{beneficiary.tCRequestDate}}</td>
                    <td (click)="patientImageView(beneficiary.beneficiaryRegID)" tooltip="{{currentLanguageSet?.image}}">
                      <img src="assets/images/Avatar-Profile_30X30.png" alt="Avatar Profile">
                    </td>
                    <td>
                      <button md-raised-button (click)="cancelTCRequest(beneficiary)" tooltip="{{currentLanguageSet?.cancelTc}}" color="warn"
                        [disabled]='beneficiary.specialist_flag != 1'>
                        {{currentLanguageSet?.cancel}}
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot *ngIf="filteredBeneficiaryList.length > 0">
                  <tr *ngIf="filteredBeneficiaryList.length > 0">
                    <td colspan="5">
                      <div class="totalCount"> {{currentLanguageSet?.totalCount}} : {{ filteredBeneficiaryList.length }}</div>
                    </td>
                    <td colspan="5">
                      <pagination class="pull-right" [boundaryLinks]="true" (pageChanged)="pageChanged($event)"
                        [totalItems]="filteredBeneficiaryList.length" [itemsPerPage]="rowsPerPage" [maxSize]="rowsPerPage"
                        [rotate]="rotate" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </section>
          </div>
        </div>
      </div>
    </div>
  </md-drawer-container>
</div>