<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4 class="f-s-b m-t-20 m-b-20">{{heading}}</h4>
    </div>
    <form [formGroup]="smsTemplateCreationForm">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
        <md-form-field class="input-full-width">
          <input autocomplete="off" mdInput defaultNull name='smsTemplateName' formControlName="smsTemplateName" placeholder="{{currentLanguageSet?.templateName}}" [readonly]="templateReadOnly" required>
        </md-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
        <md-select class="input-full-width" name='smsType' formControlName="smsType" placeholder="{{currentLanguageSet?.sMSType}}" [disabled]="templateReadOnly" (change)='checkSMSType()' required>
          <md-option *ngFor="let smsType of masterSMSType" [value]="smsType">
            {{smsType.smsType}}
          </md-option>
        </md-select>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-12 col-md-12">
        <md-form-field class="input-full-width">
          <textarea mdInput defaultNull mdTextareaAutosize name='smsTemplate' formControlName="smsTemplate" maxlength="200" placeholder="{{currentLanguageSet?.sMSTemplate}}" required [readonly]="templateReadOnly"> </textarea>
          <md-hint align="end">{{smsTemplate ? smsTemplate?.length:0}}/200</md-hint>
        </md-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box" *ngIf='templateReadOnly && parametersLength > 0'>
        <md-select class="input-full-width" placeholder="{{currentLanguageSet?.parameter}}" formControlName="parameter" name="parameter" (change)="getSMSparameter()" required>
          <md-option *ngFor="let parameter of parameters" [value]="parameter">
            {{parameter}}
          </md-option>
        </md-select>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 box" *ngIf='templateReadOnly && parametersLength > 0'>
        <md-select class="input-full-width" placeholder="{{currentLanguageSet?.valueType}}" name="valueType" formControlName="smsParameterType" (change)="getParameterValue()" required>
          <md-option *ngFor="let type of masterSMSParameter" [value]="type">
            {{type.smsParameterType}}
          </md-option>
        </md-select>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 box" *ngIf='templateReadOnly && parametersLength > 0'>
        <md-select class="input-full-width" placeholder="{{currentLanguageSet?.value}}" name="value" formControlName="smsParameterValue" required>
          <md-option *ngFor="let parameterValue of selectedParameterValues" [value]="parameterValue">
            {{parameterValue.smsParameterName}}
          </md-option>
        </md-select>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pull-right" *ngIf='templateReadOnly && smsTemplateCreationForm.valid && !templateView'>
        <button md-mini-fab id='addSMSParameterTemplate' (click)=" addSMSParameterTemplate() " color="primary"><span class="material-icons ">add</span></button>
      </div>
    </form>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10 table-responsive " *ngIf="mappedSMSParameter.length> 0">
      <table class="table table-striped" [md2Data]="mappedSMSParameter" #md2="md2DataTable" [rowsPerPage]="3">
        <caption></caption> <!-- Table discription SonarQube bug fix -->
        <thead>
          <tr>
            <th id="sNo">{{currentLanguageSet?.sNo}}</th>
            <th id="parameter">{{currentLanguageSet?.parameter}}</th>
            <th id="valueType">{{currentLanguageSet?.valueType}}</th>
            <th id="value">{{currentLanguageSet?.value}}</th>
            <th id="action" *ngIf='!templateView'>{{currentLanguageSet?.action}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of md2.data; let i = index ">
            <td>
              <strong>{{(md2.activePage-1)*(md2.rowsPerPage)+i+1}}</strong>
            </td>
            <td>{{item?.smsParameterName}}</td>
            <td>{{item?.smsParameterType}}</td>
            <td>{{item?.smsParameterValue}}</td>
            <td *ngIf='!templateView'>
              <button md-mini-fab id='removeParam' (click)="removeSMSParameterTemplate(item,(md2.activePage-1)*(md2.rowsPerPage)+i+1)" color="warn"><span class="material-icons">close</span></button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td colspan="5" *ngIf='!templateView'>
            <md2-pagination></md2-pagination>
          </td>
          <td colspan="2" *ngIf='templateView'>
            <md2-pagination></md2-pagination>
          </td>
          <td colspan="2" *ngIf='templateView'>
            <button md-raised-button color="primary" type="button" class="pull-right m-r-0" (click)="goToViewList()">{{currentLanguageSet?.back}}</button>
          </td>
        </tfoot>
      </table>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-40 m-b-40">
      <button *ngIf='!templateView' md-raised-button color="primary" type="button" class="pull-left m-r-10" (click)="goToViewList()">{{currentLanguageSet?.back}}</button>
      <button *ngIf='templateReadOnly && !templateView' md-raised-button color="primary" type="button" class="pull-left m-r-20 m-l-20" (click)="cancelTemplate()">{{currentLanguageSet?.cancel}}</button>
      <button *ngIf='mappedSMSParameter?.length == parameterCount' md-raised-button color="primary" type="button" class="pull-right" (click)="saveSMStemplate()">{{currentLanguageSet?.submit}}</button>
      <button *ngIf='!templateReadOnly && !templateView' md-raised-button color="primary" type="button" class="pull-right" (click)="extractParameters()">{{currentLanguageSet?.continue}}</button>
    </div>


  </div>
</div>